.accordeon .accordeon-content {
  display: none;
  transition: all .5s ease-in;
}

.accordeon[data-open=true] .accordeon-content {
  display: block;
}

.accordeon .accordeon-header {
  display: flex;
  transition: transform .5s ease-in;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #3e455e;
}

.accordeon .accordeon-header svg {
  transition: transform.5s ease-in;
}


.accordeon .accordeon-header svg {
  transform: rotate(180deg);
}