.login-hero {
  background: linear-gradient(150deg, #33394f, #422546);
  box-shadow: 10px 10px 0 4px rgba(0, 0, 0, 0.25);

  border-radius: 15px;
  padding: 3.125rem 4rem;

  font-size: 4rem;
  line-height: 4.2rem;
}

.login-hero .font-unique {
  font-size: 8rem;
}

.login-hero-full {
  display: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5rem;
  margin-block: 2rem;
}

.login-form h1 {
  font-size: 40px;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #f6f6f6;
}


.login-actions button {
  width: 100%;
  margin-bottom: 1rem;
}


@media (min-width: 768px) {

  .login-form h1 {
    font-size: 28px;
    text-align: center;
  }

  .login-form h3 {
    font-size: 16px;
  }

  .login-form label {
    padding: 10px;
    font-size: 14px;
  }

  .login-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  #root {
    display: flex;
    padding: 2.125rem;
  }

  .login-hero-full {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .login-hero-section {
    display: none;
  }
}